
status.lan.bendaschel.com {
     tls {
         dns digitalocean {$DO_API_KEY}
     }
    reverse_proxy docker-host.lan.bendaschel.com:8765
}

plex.lan.bendaschel.com {
     tls {
         dns digitalocean {$DO_API_KEY}
     }
    reverse_proxy docker-host.lan.bendaschel.com:32400
}

unifi.lan.bendaschel.com {
     tls {
         dns digitalocean {$DO_API_KEY}
     }
    reverse_proxy https://docker-host.lan.bendaschel.com:8443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

dashboard.lan.bendaschel.com {
     tls {
         dns digitalocean {$DO_API_KEY}
     }
    reverse_proxy docker-host.lan.bendaschel.com:8080
}

paperless.lan.bendaschel.com {
    tls {
        dns digitalocean {$DO_API_KEY}
    }
    reverse_proxy docker-host.lan.bendaschel.com:8899
}

grocy.lan.bendaschel.com {
    tls {
        dns digitalocean {$DO_API_KEY}
    }
    reverse_proxy docker-host.lan.bendaschel.com:9283

}

vpn.lan.bendaschel.com {
    tls {
        dns digitalocean {$DO_API_KEY}
    }
    reverse_proxy https://docker-host.lan.bendaschel.com:19443 {

        transport http {
            tls_insecure_skip_verify
        }
    }
}